@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200&display=swap');

/*CONFIGURAÇÕES GERAIS DO CSS*/

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #0d1117;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}


/*CONFIGURAÇÕES DO LAYOUT*/

.form-container {
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wallpaper-container {
    flex-basis: 75%;
    height: 100%;
    background-image: url("../img/james-harrison-vpOeXr5wmR4-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0%;
}

.login-register-container {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/*CSS DA LOGO DA PÁGINA*/

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo {
    width: 100px;
    height: 100px;
    background-image: url("../img/weather-cresent-moon-stars.png");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 1s;
}

.logo:hover {
    background-image: url("../img/weather-cresent-moon-stars\ \(1\).png");
}


/*CSS DO FORMULÁRIO DA PÁGINA*/

.login-register-container-inner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-register-container-inner h3 {
    color: #fff;
}

input {
    display: block;
    color: #fff;
    margin-bottom: 10px;
    width: 300px;
    height: 40px;
    border: transparent;
    border-radius: 4px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.form-confirm-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8px;
}

.form-confirm-box-item-1 {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form-confirm-box-item-2 {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    align-items: center;
}

.form-confirm-box label {
    margin: 0;
    margin-left: 10px;
    font-size: 0.9rem;
    color: #fff;
}

.form-confirm-box input {
    width: 10px;
    margin: 0;
}

.form-confirm-box-link {
    color: #73e3ff;
    text-decoration: none;
}

.form-confirm-box-link:hover {
    color: #0077ff;
}

.form-container button {
    width: 40px;
    height: 40px;
    border: none;
}

.form-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #0d1117;
    background-image: url("../img/login-1\ \(2\).png");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 1s;
}

button:hover {
    background-image: url("../img/login-1\ \(1\).png");
}

@media (max-width: 900px) {
    .form-container {
        flex-basis: 100%;
    }
    .wallpaper-container {
        flex-basis: 0;
    }
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}